<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>ML</title>
  </head>
  <body>
    <div class="div1">
      <div class="div2">
        <h1>INVESTIMENTO EM ANÚNCIOS (R$):</h1>
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
          <table style="margin-left: 20px;">
            <tr>
              <td><label for="tv">TV:</label></td>
              <td><input type="text" id="tv" name="tv" autocomplete="off"></td>
            </tr>
            <tr>
              <td><label for="jornal">JORNAL:</label></td>
              <td><input type="text" id="jornal" name="jornal" autocomplete="off"></td>
            </tr>
            <tr>
              <td><label for="radio">RÁDIO:</label></td>
              <td><input type="text" id="radio" name="radio" autocomplete="off"></td>
            </tr>
          </table><br>
          <input type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </body>
</html>